<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This application was created to showcase
<%= link_to 'Hydramata::Works', 'https://github.com/ndlib/hydramata-works' %>
&mdash; part of <%= link_to 'Hydramata', 'http://hydramata.github.io/' %> &mdash;
at the <%= link_to 'Hydra Connect 2 conference', 'https://wiki.duraspace.org/display/hydra/Hydra+Connect+2+-+Fall+2014' %>.
</p>
<p>
More information about the usage and development of
<%= link_to 'Hydramata::Works', 'https://github.com/ndlib/hydramata-works' %>
is available on the <%= link_to 'project page', 'http://ndlib.github.io/hydramata-works/' %>.
<p>
The scaffolding of this application was built using
<%= link_to 'Rails Composer', 'http://railsapps.github.io/rails-composer/' %>
from the <%= link_to 'RailsApps project', 'http://railsapps.github.io/' %>.
It uses the <%= link_to 'Cosomo theme', 'http://bootswatch.com/cosmo/' %>
from <%= link_to 'Bootswatch', 'http://bootswatch.com/' %>.
</p>
